.aboutUs {

    width: 100%;
    height: 50%;
    background: #cee3f8;


    padding-top: 10%;
    
}
.aboutUs>p{
    /* margin-top: 10%; */
    font-size: 2rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 0 2rem 0 2rem;
  }
  ::-webkit-scrollbar {
    display: none;
}

ol{
  margin-top: 2rem;
}

 li{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-bottom: 1rem;

 }
 li path {
  fill: green;
 }

@media (max-width: 900px) {
  .aboutUs {
      width: 100%;
      margin-top: 10%;
      padding-bottom: 5%;
  }
  li{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

   }
}