.backFooter{
    background-color: #3D4045;
    padding-top: 5%;
    padding-top: 5rem;
    padding-bottom: 5%;
}
.titMail{
    margin-bottom: 1rem;
    color: white;
}
.backFooter > p {
    color: white;
    text-decoration: none;
}


.axpathX:hover {
    fill: #0056b3;
  }
  .tlefono{
    color: white;
  }


@media (max-width: 900px){

}